*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* signup page starts here */

.block{
    margin: 40px 0 0 60px ;
    float: left;
    width: 180px;
    margin-right: -150px;
}

.dumbbell{
    float: left;
    width: 30px;
    margin-right: 15px;
}

.p_gym{
    color: #F8DE22;
    font-family: 'Anton', serif;
    font-style: italic;
    text-decoration: none;
}

.nav-link{
    color: #fff;
    font-family: 'Anton', serif;
    width: 250px;
    font-size: 30px;
    padding-top: 33px;
}

.com{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 3px solid #1D3764;
    background-color: #fff;
    width: 450px;
    color: black;
    margin-top: 20vh;
   }
   
.reg{
    padding: 20px;
}
   
.line{
    height: 3px;
    background: black;
}
   
.container{
    display: flex;
    height: 50px;
    justify-content: flex-start;
    padding: 0;
}
   
.pass{
    margin: 0 20px 0 20px;
}
   
.mail{
    padding-left: 20px;
}
   
#email, #username{
    width:350px;
}
   
#signUp{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(254, 241, 96);
}

.or{
    display: flex;
    justify-content: center;
}

.link{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* signup page ends here */